
body {
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.robocam img, .robocam svg {
	border: 10px solid transparent;
	border-image: url('images/border.jpg') 10% round;
}

#left_camera {
	position: absolute;
	top: 15px;
	left: 15px;
}

#right_camera {
	position: absolute;
	top: 15px;
	left: 820px;
}

#robot {
	position: absolute;
	top: 15px;
	left: 470px;
}

#robot svg {
	background-color: white;
	border: 5px solid black;
}

#connected {
	position: absolute;
	top: 375px;
	left: 520px;
}

#ball_control {
	position: absolute;
	top: 220px;
	left: 480px;
	opacity: 0.8;
}

#ball_in {
	display: inline-block;
	background-color: gray;
	border: 2px solid black;
}

#ball_out {
	display: inline-block;
	background-color: gray;
	border: 2px solid black;
}

#logo {
	position: absolute;
	top: 160px;
	left: 490px;
}

[name=firer] {
	
	position: relative;
	width: 100px;
	height: 100px;
	top: 320px;
	left: 250px;
	-webkit-appearance: none;
}


[name=firer]::after {
	content: " ";
	background-image: url(fire_button_unselected.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px 100px;
	border: none;
	width:100%;
	height:100%;
	display: inline-block;
}

[name=firer]:checked::after {
	content: " ";
	background-image: url(fire_button_selected.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px 100px;
	width:100%;
	height:100%;
	border: none;
	display: inline-block;
}

[name=aim_guy] {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 330px;
	left: 80px;
	-webkit-appearance: none;
}

[name=aim_guy]::after {
	content: " ";
	background-image: url(aim_button.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px 100px;
	border: none;
	width:100%;
	height:100%;
	display: inline-block;
}

[name=aim_guy]:checked::after {
	content: " ";
	background-image: url(aim_button_selected.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100px 100px;
	border: none;
	width:100%;
	height:100%;
	display: inline-block;
}

#robot_ball {
	fill: lime; 
	stroke: black; 
	stroke-width: 2; 
	opacity: 1;
}

#robot_ball.reset {
	opacity: 0;
}


#robot_ball.unload {
	transform: translate3d(-100px, 50px, 0);
}

#robot_ball.load {
	transform: translate3d(0, 0, 0);
}

#robot_ball.load-shooter {
	transform: translate3d(25px, -25px, 0);
}

#robot_ball.shoot {
	transform: translate3d(50px, -130px, 0);
}


