

.robot-image {
	display: block;
	width: 500px;
	float: right;
}

.robot-image img {
	width: 100%;
}

.robot-image.offline .online-image {
	display: none;
}

.robot-image.online .offline-image{
	display: none;
}

.fire {
  background-image: url(fire_button_unselected.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  border: none;
}


.fire {
	color: yellow;
	font-size: 70px;
}


.svgdiagram.ballin .bawl {
	display: block;
}

.svgdiagram.ballout .bawl {
	display: none;
}


.diagram.ballout .ballout-image{
	display: block;
}

.diagram.ballout .ballin-image{
	display: none;
}

.diagram.ballin .ballout-image{
	display: none;
}

.diagram.ballin .ballin-image{
	display: block;
} 